h1 {
    color: green;
    font-style: italic;
}
h2{
    color: green;
    font-style: italic;
    
}


body{
    background-color: black 
    
}

strong{
    color: white
}

small{
    color: goldenrod
}

h3{
    color: white;
}